USE [master]
GO
/****** Object:  Database [NhaHang]    Script Date: 11/30/2017 8:53:11 PM ******/
CREATE DATABASE [NhaHang]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NhaHang', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\NhaHang.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'NhaHang_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\NhaHang_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NhaHang].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NhaHang]
GO
/****** Object:  StoredProcedure [dbo].[Get_AccountType_By_ID]    Script Date: 11/30/2017 8:53:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Get_AccountType_By_ID] 
	(@ID int)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * FROM [dbo].[tblAccountType] WHERE [ID]=@ID
END

GO
/****** Object:  StoredProcedure [dbo].[SP_Account_Single]    Script Date: 11/30/2017 8:53:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Account_Single] 
	(@ID int
	)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT        ac.ID,ac.Email,ac.Password,at.Name as [TypeName], ac.Name,ac.Avatar ,ac.Address,ac.Phone,ac.Status
FROM            tblAccount ac , tblAccountType at
WHERE ac.ID = @ID AND at.ID = ac.TypeID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Category_Single]    Script Date: 11/30/2017 8:53:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Category_Single] 
	(@ID int
	)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * FROM [dbo].tblCategory WHERE [ID]=@ID
END




GO
/****** Object:  StoredProcedure [dbo].[SP_Delete_tblAbout]    Script Date: 11/30/2017 8:53:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Delete_tblAbout]
(
	@Original_ID int
)
AS
	SET NOCOUNT OFF;
DELETE FROM [tblAbout] 
WHERE 
	([ID] = @Original_ID)
	IF @@ERROR <> 0
	RETURN 0
	ELSE
	RETURN 1







GO
/****** Object:  StoredProcedure [dbo].[SP_Delete_tblAccount]    Script Date: 11/30/2017 8:53:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Delete_tblAccount]
(
	@Original_ID int
)
AS
	SET NOCOUNT OFF;
DELETE FROM [tblAccount] 
WHERE 
	([ID] = @Original_ID)
	IF @@ERROR <> 0
	RETURN 0
	ELSE
	RETURN 1







GO
/****** Object:  StoredProcedure [dbo].[SP_Delete_tblAccountType]    Script Date: 11/30/2017 8:53:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Delete_tblAccountType]
(
	@Original_ID int,
	@IsNull_Name Int,
	@Original_Name nvarchar(50)
)
AS
	SET NOCOUNT OFF;
DELETE FROM [tblAccountType] WHERE (([ID] = @Original_ID) AND ((@IsNull_Name = 1 AND [Name] IS NULL) OR ([Name] = @Original_Name)))
GO
/****** Object:  StoredProcedure [dbo].[SP_Delete_tblCategory]    Script Date: 11/30/2017 8:53:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Delete_tblCategory]
(
	@ID int
)
AS
	SET NOCOUNT OFF;
DELETE FROM [tblCategory] 
WHERE 
	([ID] = @ID)
	IF @@ERROR <> 0
	RETURN 0
	ELSE
	RETURN 1








GO
/****** Object:  StoredProcedure [dbo].[SP_Delete_tblOrder]    Script Date: 11/30/2017 8:53:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Delete_tblOrder]
(
	@Original_ID int,
	@IsNull_TotalPrice Int,
	@Original_TotalPrice decimal(18, 0),
	@IsNull_Quantity Int,
	@Original_Quantity int,
	@IsNull_AccountID Int,
	@Original_AccountID int,
	@IsNull_CreateDate Int,
	@Original_CreateDate datetime
)
AS
	SET NOCOUNT OFF;
DELETE FROM [tblOrder] WHERE (([ID] = @Original_ID) AND ((@IsNull_TotalPrice = 1 AND [TotalPrice] IS NULL) OR ([TotalPrice] = @Original_TotalPrice)) AND ((@IsNull_Quantity = 1 AND [Quantity] IS NULL) OR ([Quantity] = @Original_Quantity)) AND ((@IsNull_AccountID = 1 AND [AccountID] IS NULL) OR ([AccountID] = @Original_AccountID)) AND ((@IsNull_CreateDate = 1 AND [CreateDate] IS NULL) OR ([CreateDate] = @Original_CreateDate)))


GO
/****** Object:  StoredProcedure [dbo].[SP_Delete_tblOrderDeails]    Script Date: 11/30/2017 8:53:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Delete_tblOrderDeails]
(
	@Original_ID int,
	@IsNull_OrderID Int,
	@Original_OrderID int,
	@IsNull_ProductID Int,
	@Original_ProductID int,
	@IsNull_Quantity Int,
	@Original_Quantity int,
	@IsNull_Price Int,
	@Original_Price decimal(18, 0)
)
AS
	SET NOCOUNT OFF;
DELETE FROM [tblOrderDeails] WHERE (([ID] = @Original_ID) AND ((@IsNull_OrderID = 1 AND [OrderID] IS NULL) OR ([OrderID] = @Original_OrderID)) AND ((@IsNull_ProductID = 1 AND [ProductID] IS NULL) OR ([ProductID] = @Original_ProductID)) AND ((@IsNull_Quantity = 1 AND [Quantity] IS NULL) OR ([Quantity] = @Original_Quantity)) AND ((@IsNull_Price = 1 AND [Price] IS NULL) OR ([Price] = @Original_Price)))


GO
/****** Object:  StoredProcedure [dbo].[SP_Delete_tblProduct]    Script Date: 11/30/2017 8:53:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Delete_tblProduct]
(
	@Original_ID int
)
AS
	SET NOCOUNT OFF;
DELETE FROM [tblProduct] 
WHERE 
	([ID] = @Original_ID)
	IF @@ERROR <> 0
	RETURN 0
	ELSE
	RETURN 1







GO
/****** Object:  StoredProcedure [dbo].[SP_Delete_tblRoom]    Script Date: 11/30/2017 8:53:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Delete_tblRoom]
(
	@ID int
)
AS
	SET NOCOUNT OFF;
DELETE FROM [tblRoom] WHERE (([ID] = @ID))


GO
/****** Object:  StoredProcedure [dbo].[SP_Delete_tblRoomType]    Script Date: 11/30/2017 8:53:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Delete_tblRoomType]
(
	@ID int
)
AS
	SET NOCOUNT OFF;
DELETE FROM [tblRoomType] WHERE (([ID] = @ID))






GO
/****** Object:  StoredProcedure [dbo].[SP_Insert_tblAbout]    Script Date: 11/30/2017 8:53:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Insert_tblAbout]
(
	@ID int OUTPUT,
	@URLMap nvarchar(500),
	@Name nvarchar(200),
	@Address nvarchar(200),
	@Email nchar(200),
	@Phone1 nchar(15),
	@Phone2 nchar(15),
	@Contents ntext,
	@AccountID int,
	@CreateDate datetime
)
AS
	SET NOCOUNT OFF;
INSERT INTO [tblAbout] ([URLMap], [Name], [Address], [Email], [Phone1], [Phone2], [Contents], [AccountID], [CreateDate]) VALUES (@URLMap, @Name, @Address, @Email, @Phone1, @Phone2, @Contents, @AccountID, @CreateDate);
	
	
SELECT @ID = SCOPE_IDENTITY();
GO
/****** Object:  StoredProcedure [dbo].[SP_Insert_tblAccount]    Script Date: 11/30/2017 8:53:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Insert_tblAccount]
(
	@ID int OUTPUT,
	@Email nchar(200),
	@Password nchar(50),
	@Type int,
	@Name nvarchar(200),
	@Avatar nvarchar(100),
	@Address nvarchar(200),
	@Phone char(15),
	@Status bit
)
AS
	SET NOCOUNT OFF;
INSERT INTO [tblAccount] ([Email], [Password], [TypeID], [Name], [Avatar], [Address], [Phone], [Status]) VALUES (@Email, @Password, @Type, @Name, @Avatar, @Address, @Phone, @Status);
	
SELECT @ID = SCOPE_IDENTITY();
GO
/****** Object:  StoredProcedure [dbo].[SP_Insert_tblAccountType]    Script Date: 11/30/2017 8:53:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Insert_tblAccountType]
(
	@Name nvarchar(50)
)
AS
	SET NOCOUNT OFF;
INSERT INTO [tblAccountType] ([Name]) VALUES (@Name);
	
SELECT ID, Name FROM tblAccountType WHERE (ID = SCOPE_IDENTITY())
GO
/****** Object:  StoredProcedure [dbo].[SP_Insert_tblCategory]    Script Date: 11/30/2017 8:53:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Insert_tblCategory]
(
	@ID int OUTPUT,
	@Name nvarchar(50),
	@Image nvarchar(50),
	@CreateDate datetime,
	@AccountID int
)
AS
	SET NOCOUNT OFF;
INSERT INTO [tblCategory] ([Name],[Image], [CreateDate], [AccountID]) VALUES (@Name,@Image, @CreateDate, @AccountID);
	
SELECT @ID = SCOPE_IDENTITY();
GO
/****** Object:  StoredProcedure [dbo].[SP_Insert_tblOrder]    Script Date: 11/30/2017 8:53:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Insert_tblOrder]
(
	@ID int OUTPUT,
	@TotalPrice decimal(18, 0),
	@Quantity int,
	@AccountID int,
	@CreateDate datetime
)
AS
	SET NOCOUNT OFF;
INSERT INTO [tblOrder] ([TotalPrice], [Quantity], [AccountID], [CreateDate]) VALUES (@TotalPrice, @Quantity, @AccountID, @CreateDate);
	
SELECT @ID = SCOPE_IDENTITY();


GO
/****** Object:  StoredProcedure [dbo].[SP_Insert_tblOrderDeails]    Script Date: 11/30/2017 8:53:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Insert_tblOrderDeails]
(
	@ID int OUTPUT,
	@OrderID int,
	@ProductID int,
	@Quantity int,
	@Price decimal(18, 0)
)
AS
	SET NOCOUNT OFF;
INSERT INTO [tblOrderDeails] ([OrderID], [ProductID], [Quantity], [Price]) VALUES (@OrderID, @ProductID, @Quantity, @Price);
	
SELECT @ID = SCOPE_IDENTITY();




GO
/****** Object:  StoredProcedure [dbo].[SP_Insert_tblProduct]    Script Date: 11/30/2017 8:53:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Insert_tblProduct]
(
	@ID int OUTPUT,
	@Name nvarchar(200),
	@CategoryID int,
	@Images nvarchar(100),
	@Price decimal(18, 0),
	@Discount decimal(18, 0),
	@Contents nvarchar(1000),
	@QuantityOrder int,
	@CreateDate datetime,
	@AccountID int
)
AS
	SET NOCOUNT OFF;
INSERT INTO [tblProduct] ([Name], [CategoryID], [Images], [Price], [Discount], [Contents],[QuantityOrder], [CreateDate], [AccountID]) VALUES (@Name, @CategoryID, @Images, @Price, @Discount, @Contents,@QuantityOrder, @CreateDate, @AccountID);
	
SELECT @ID = SCOPE_IDENTITY();
GO
/****** Object:  StoredProcedure [dbo].[SP_Insert_tblRoomType]    Script Date: 11/30/2017 8:53:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Insert_tblRoomType]
(
	@ID int OUTPUT,
	@Name nvarchar(50),
	@AccountID int,
	@CreateDate datetime
)
AS
	SET NOCOUNT OFF;
INSERT INTO [tblRoomType] ([Name], [AccountID], [CreateDate]) VALUES (@Name, @AccountID, @CreateDate);
	
SELECT @ID = SCOPE_IDENTITY();






GO
/****** Object:  StoredProcedure [dbo].[SP_InsertSP_tblRoom]    Script Date: 11/30/2017 8:53:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_InsertSP_tblRoom]
(
	@ID int OUTPUT,
	@Name nvarchar(50),
	@Images nvarchar(50),
	@About nvarchar(1000),
	@Type int,
	@AccountID int,
	@CreateDate datetime
)
AS
	SET NOCOUNT OFF;
INSERT INTO [tblRoom] ([Name], [Images], [About], [Type], [AccountID], [CreateDate]) VALUES (@Name, @Images, @About, @Type, @AccountID, @CreateDate);
	
SELECT @ID = SCOPE_IDENTITY();






GO
/****** Object:  StoredProcedure [dbo].[SP_Login]    Script Date: 11/30/2017 8:53:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[SP_Login]
@Email nvarchar(50),
@Password nvarchar(150)
AS
BEGIN
	DECLARE @OutPut int
	DECLARE @KiemTraEmail int
	DECLARE @KiemTraPassword int
	DECLARE @TrangThai int
	SELECT @KiemTraEmail=isnull(Count(tdn.Email),0)
		FROM tblAccount tdn
		WHERE tdn.Email=@Email
	SELECT @TrangThai =isnull(tdn.Status ,0)
		FROM tblAccount tdn
		WHERE tdn.Email = @Email
	IF @KiemTraEmail=0
		SET @OutPut=1 -- Sai Email
	ELSE
	BEGIN
		SELECT @KiemTraPassword =isnull(count(*),0)
			FROM tblAccount tdn
		WHERE tdn.Email=@Email
			AND tdn.Password=@Password
		IF @KiemTraPassword=0
			SET @OutPut=2 -- Sai mật khẩu
		ELSE
			BEGIN
			   IF @TrangThai=0
				SET @OutPut=4 -- Phải đổi mật khẩu
			   ELSE
				BEGIN
				   IF @TrangThai=2
				-- Email đang bị khóa
				   SET @OutPut=3
				   ELSE
					SET @OutPut=0
				END
			END
	END
	SELECT @OutPut AS KetQua
END







GO
/****** Object:  StoredProcedure [dbo].[Sp_NameByID_tblCategory]    Script Date: 11/30/2017 8:53:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Sp_NameByID_tblCategory]
	@id int
AS
	SELECT Name from tblCategory where @id=ID
RETURN 0










GO
/****** Object:  StoredProcedure [dbo].[SP_NewCreate_Products]    Script Date: 11/30/2017 8:53:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_NewCreate_Products]

AS
	SELECT top 6 * from tblProduct order by CreateDate
RETURN 0







GO
/****** Object:  StoredProcedure [dbo].[SP_Product_Single]    Script Date: 11/30/2017 8:53:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Product_Single] 
	(@ID int)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * FROM [dbo].[tblProduct] WHERE [ID]=@ID
END

GO
/****** Object:  StoredProcedure [dbo].[SP_ProductByCategoryID_tblProduct]    Script Date: 11/30/2017 8:53:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ProductByCategoryID_tblProduct]
	@ID int
AS
	SELECT * from tblProduct where @ID=CategoryID
RETURN 0









GO
/****** Object:  StoredProcedure [dbo].[SP_Room_Single]    Script Date: 11/30/2017 8:53:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Room_Single]
	(@ID int)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT        ro.ID, ro.Name,ro.Images,ro.About,rt.Name as [TypeName],ro.AccountID,ro.CreateDate
FROM            tblRoom ro, tblRoomType rt
WHERE ro.ID = @ID and ro.Type = rt.ID
END

GO
/****** Object:  StoredProcedure [dbo].[SP_Select_tblAbout]    Script Date: 11/30/2017 8:53:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Select_tblAbout]
AS
	SET NOCOUNT ON;
SELECT        tblAbout.*
FROM            tblAbout









GO
/****** Object:  StoredProcedure [dbo].[SP_Select_tblAccount]    Script Date: 11/30/2017 8:53:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Select_tblAccount]
AS
	SET NOCOUNT ON;
SELECT        ac.ID,ac.Email,ac.Password,at.Name as [TypeName], ac.Name,ac.Avatar ,ac.Address,ac.Phone,ac.Status
FROM            tblAccount ac , tblAccountType at
WHERE at.ID = ac.TypeID
GO
/****** Object:  StoredProcedure [dbo].[SP_Select_tblAccount_By_Email]    Script Date: 11/30/2017 8:53:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Select_tblAccount_By_Email] 
	(@Email nchar(200))
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * FROM [dbo].tblAccount WHERE [Email] = @Email
END







GO
/****** Object:  StoredProcedure [dbo].[SP_Select_tblAccountType]    Script Date: 11/30/2017 8:53:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Select_tblAccountType]
AS
	SET NOCOUNT ON;
SELECT        tblAccountType.*
FROM            tblAccountType
GO
/****** Object:  StoredProcedure [dbo].[SP_Select_tblCategory]    Script Date: 11/30/2017 8:53:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Select_tblCategory]
AS
	SET NOCOUNT ON;
SELECT        tblCategory.*
FROM            tblCategory










GO
/****** Object:  StoredProcedure [dbo].[SP_Select_tblOrder]    Script Date: 11/30/2017 8:53:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Select_tblOrder]
AS
	SET NOCOUNT ON;
SELECT        tblOrder.*
FROM            tblOrder




GO
/****** Object:  StoredProcedure [dbo].[SP_Select_tblOrderDeails_By_OrderID]    Script Date: 11/30/2017 8:53:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Select_tblOrderDeails_By_OrderID]
(@OrderID int)
AS
	SET NOCOUNT ON;
SELECT        od.ID, od.OrderID, pr.Name as[ProductName],pr.Price as [UnitPrice], od.Quantity, od.Price
FROM            tblOrderDeails od, tblProduct pr
WHERE od.OrderID = @OrderID and od.ProductID = pr.ID
GO
/****** Object:  StoredProcedure [dbo].[SP_Select_tblProduct]    Script Date: 11/30/2017 8:53:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Select_tblProduct]
AS
	SET NOCOUNT ON;
SELECT        pr.*, ca.Name as[CategoryName]
FROM            tblProduct pr, tblCategory ca
WHERE pr.CategoryID = ca.ID
GO
/****** Object:  StoredProcedure [dbo].[SP_Select_tblRoom]    Script Date: 11/30/2017 8:53:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Select_tblRoom]
AS
	SET NOCOUNT ON;
SELECT        ro.ID, ro.Name,ro.Images,ro.About,rt.Name as [TypeName],ro.AccountID,ro.CreateDate
FROM            tblRoom ro, tblRoomType rt
WHERE ro.Type = rt.ID

GO
/****** Object:  StoredProcedure [dbo].[SP_Select_tblRoomType]    Script Date: 11/30/2017 8:53:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Select_tblRoomType]
AS
	SET NOCOUNT ON;
SELECT        tblRoomType.*
FROM            tblRoomType






GO
/****** Object:  StoredProcedure [dbo].[SP_TopHot_Product]    Script Date: 11/30/2017 8:53:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_TopHot_Product]

AS
	SELECT top 6 * from tblProduct order by QuantityOrder desc
RETURN 0








GO
/****** Object:  StoredProcedure [dbo].[SP_Update_tblAbout]    Script Date: 11/30/2017 8:53:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Update_tblAbout]
(@ID int,
	@URLMap nvarchar(500),
	@Name nvarchar(200),
	@Address nvarchar(200),
	@Email nchar(200),
	@Phone1 nchar(15),
	@Phone2 nchar(15),
	@Contents ntext,
	@AccountID int,
	@CreateDate datetime
	
)
AS
	SET NOCOUNT OFF;
UPDATE [tblAbout] SET [URLMap] = @URLMap, [Name] = @Name, [Address] = @Address, [Email] = @Email, [Phone1] = @Phone1, [Phone2] = @Phone2, [Contents] = @Contents, [AccountID] = @AccountID, [CreateDate] = @CreateDate 
WHERE 
	([ID] = @ID)
	IF @@ERROR <> 0
	RETURN 0
	ELSE
	RETURN 1







GO
/****** Object:  StoredProcedure [dbo].[SP_Update_tblAccount]    Script Date: 11/30/2017 8:53:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Update_tblAccount]
(
	@ID int,
	@Email nchar(200),
	@Password nchar(50),
	@Type int,
	@Name nvarchar(200),
	@Avatar nvarchar(100),
	@Address nvarchar(200),
	@Phone char(15),
	@Status bit
)
AS
	SET NOCOUNT OFF;
UPDATE [tblAccount] SET [Email] = @Email, [Password] = @Password, [TypeID] = @Type, [Name] = @Name, [Avatar] = @Avatar, [Address] = @Address, [Phone] = @Phone, [Status] = @Status 
WHERE 
	([ID] = @ID)
	IF @@ERROR <> 0
	RETURN 0
	ELSE
	RETURN 1







GO
/****** Object:  StoredProcedure [dbo].[SP_Update_tblAccountType]    Script Date: 11/30/2017 8:53:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Update_tblAccountType]
(
	@Name nvarchar(50),
	@Original_ID int,
	@IsNull_Name Int,
	@Original_Name nvarchar(50),
	@ID int
)
AS
	SET NOCOUNT OFF;
UPDATE [tblAccountType] SET [Name] = @Name WHERE (([ID] = @Original_ID) AND ((@IsNull_Name = 1 AND [Name] IS NULL) OR ([Name] = @Original_Name)));
	
SELECT ID, Name FROM tblAccountType WHERE (ID = @ID)
GO
/****** Object:  StoredProcedure [dbo].[SP_Update_tblCategory]    Script Date: 11/30/2017 8:53:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Update_tblCategory]
(
	@ID int,
	@Name nvarchar(50),
	@Image nvarchar(50)
)
AS
	SET NOCOUNT OFF;
UPDATE [tblCategory] SET [Name] = @Name,[Image]=@Image WHERE 
	([ID] = @ID)
	IF @@ERROR <> 0
	RETURN 0
	ELSE
	RETURN 1









GO
/****** Object:  StoredProcedure [dbo].[SP_Update_tblProduct]    Script Date: 11/30/2017 8:53:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Update_tblProduct]
(
	@ID int,
	@Name nvarchar(200),
	@CategoryID int,
	@Images nvarchar(100),
	@Price decimal(18, 0),
	@Discount decimal(18, 0),
	@Contents nvarchar(1000),
	@QuantityOrder int
)
AS
	SET NOCOUNT OFF;
UPDATE [tblProduct] SET [Name] = @Name, [CategoryID] = @CategoryID, [Images] = @Images, [Price] = @Price, [Discount] = @Discount, [Contents] = @Contents,[QuantityOrder]=@QuantityOrder
	
WHERE 
	([ID] = @ID)
	IF @@ERROR <> 0
	RETURN 0
	ELSE
	RETURN 1
GO
/****** Object:  StoredProcedure [dbo].[SP_Update_tblRoom]    Script Date: 11/30/2017 8:53:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Update_tblRoom]
(
	@ID int,
	@Name nvarchar(50),
	@Images nvarchar(50),
	@About nvarchar(1000),
	@Type int
	
)
AS
	SET NOCOUNT OFF;
UPDATE [tblRoom] SET [Name] = @Name, [Images] = @Images, [About] = @About, [Type] = @Type 
WHERE 
	([ID] = @ID)
	IF @@ERROR <> 0
	RETURN 0
	ELSE
	RETURN 1






GO
/****** Object:  StoredProcedure [dbo].[SP_Update_tblRoomType]    Script Date: 11/30/2017 8:53:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Update_tblRoomType]
(@ID int,
	@Name nvarchar(50)
)
AS
	SET NOCOUNT OFF;
UPDATE [tblRoomType] SET [Name] = @Name WHERE 
	([ID] = @ID)
	IF @@ERROR <> 0
	RETURN 0
	ELSE
	RETURN 1






GO
/****** Object:  Table [dbo].[tblAbout]    Script Date: 11/30/2017 8:53:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblAbout](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[URLMap] [nvarchar](500) NULL,
	[Name] [nvarchar](200) NULL,
	[Address] [nvarchar](200) NULL,
	[Email] [nchar](200) NULL,
	[Phone1] [nchar](15) NULL,
	[Phone2] [nchar](15) NULL,
	[Contents] [ntext] NULL,
	[AccountID] [int] NULL,
	[CreateDate] [datetime] NULL,
 CONSTRAINT [PK_ThongTinNhaHang_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblAccount]    Script Date: 11/30/2017 8:53:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblAccount](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nchar](200) NOT NULL,
	[Password] [nchar](50) NOT NULL,
	[TypeID] [int] NOT NULL,
	[Name] [nvarchar](200) NULL,
	[Avatar] [nvarchar](100) NULL,
	[Address] [nvarchar](200) NULL,
	[Phone] [char](15) NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblAccountType]    Script Date: 11/30/2017 8:53:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblAccountType](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_LoaiTaiKhoan] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblCategory]    Script Date: 11/30/2017 8:53:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCategory](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Image] [nvarchar](50) NULL,
	[CreateDate] [datetime] NULL,
	[AccountID] [int] NULL,
 CONSTRAINT [PK_LoaiMon] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblOrder]    Script Date: 11/30/2017 8:53:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblOrder](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TotalPrice] [decimal](18, 0) NULL,
	[Quantity] [int] NULL,
	[AccountID] [int] NULL,
	[CreateDate] [datetime] NULL,
 CONSTRAINT [PK_tblOrder] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblOrderDeails]    Script Date: 11/30/2017 8:53:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblOrderDeails](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NULL,
	[ProductID] [int] NULL,
	[Quantity] [int] NULL,
	[Price] [decimal](18, 0) NULL,
 CONSTRAINT [PK_tblOrderDeails] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblProduct]    Script Date: 11/30/2017 8:53:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblProduct](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NULL,
	[CategoryID] [int] NULL,
	[Images] [nvarchar](100) NULL,
	[Price] [decimal](18, 0) NULL,
	[Discount] [decimal](18, 0) NULL,
	[Contents] [nvarchar](1000) NULL,
	[QuantityOrder] [int] NULL,
	[CreateDate] [datetime] NULL,
	[AccountID] [int] NULL,
 CONSTRAINT [PK_MonAn] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblRoom]    Script Date: 11/30/2017 8:53:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblRoom](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Images] [nvarchar](50) NULL,
	[About] [nvarchar](1000) NULL,
	[Type] [int] NULL,
	[AccountID] [int] NULL,
	[CreateDate] [datetime] NULL,
 CONSTRAINT [PK_GioiThieuNhaHang] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblRoomType]    Script Date: 11/30/2017 8:53:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblRoomType](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[AccountID] [int] NULL,
	[CreateDate] [datetime] NULL,
 CONSTRAINT [PK_LoaiKhongGianNhaHang] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[tblAbout] ON 

SET IDENTITY_INSERT [dbo].[tblAbout] OFF
SET IDENTITY_INSERT [dbo].[tblAccount] ON 

INSERT [dbo].[tblAccount] ([ID], [Email], [Password], [TypeID], [Name], [Avatar], [Address], [Phone], [Status]) VALUES (1, N'admin                                                                                                                                                                                                   ', N'c4ca4238a0b923820dcc509a6f75849b                  ', 1, N'Công', N'images.jpg', NULL, NULL, 1)
INSERT [dbo].[tblAccount] ([ID], [Email], [Password], [TypeID], [Name], [Avatar], [Address], [Phone], [Status]) VALUES (2, N'vvv@gmail.com                                                                                                                                                                                           ', N'c4ca4238a0b923820dcc509a6f75849b                  ', 3, N'phuacn', N'hinh-the-dep.jpg', NULL, NULL, 1)
INSERT [dbo].[tblAccount] ([ID], [Email], [Password], [TypeID], [Name], [Avatar], [Address], [Phone], [Status]) VALUES (3, N'Khach1@gmail.com                                                                                                                                                                                        ', N'c4ca4238a0b923820dcc509a6f75849b                  ', 2, N'1234', N'', NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[tblAccount] OFF
SET IDENTITY_INSERT [dbo].[tblAccountType] ON 

INSERT [dbo].[tblAccountType] ([ID], [Name]) VALUES (1, N'Admin')
INSERT [dbo].[tblAccountType] ([ID], [Name]) VALUES (2, N'Nhân viên')
INSERT [dbo].[tblAccountType] ([ID], [Name]) VALUES (3, N'Khách hàng')
SET IDENTITY_INSERT [dbo].[tblAccountType] OFF
SET IDENTITY_INSERT [dbo].[tblCategory] ON 

INSERT [dbo].[tblCategory] ([ID], [Name], [Image], [CreateDate], [AccountID]) VALUES (1, N'SASHIMI', N'sashimi.jpg', NULL, NULL)
INSERT [dbo].[tblCategory] ([ID], [Name], [Image], [CreateDate], [AccountID]) VALUES (2, N'SUSHI', N'sushi.jpg', NULL, NULL)
INSERT [dbo].[tblCategory] ([ID], [Name], [Image], [CreateDate], [AccountID]) VALUES (3, N'MÓN LẨU', N'Lau.jpg', NULL, NULL)
SET IDENTITY_INSERT [dbo].[tblCategory] OFF
SET IDENTITY_INSERT [dbo].[tblOrder] ON 

INSERT [dbo].[tblOrder] ([ID], [TotalPrice], [Quantity], [AccountID], [CreateDate]) VALUES (1, CAST(180 AS Decimal(18, 0)), 12, 1, CAST(0x0000A83B00000000 AS DateTime))
SET IDENTITY_INSERT [dbo].[tblOrder] OFF
SET IDENTITY_INSERT [dbo].[tblOrderDeails] ON 

INSERT [dbo].[tblOrderDeails] ([ID], [OrderID], [ProductID], [Quantity], [Price]) VALUES (1, 1, 1, 12, CAST(251 AS Decimal(18, 0)))
INSERT [dbo].[tblOrderDeails] ([ID], [OrderID], [ProductID], [Quantity], [Price]) VALUES (2, 1, 2, 1, CAST(352 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[tblOrderDeails] OFF
SET IDENTITY_INSERT [dbo].[tblProduct] ON 

INSERT [dbo].[tblProduct] ([ID], [Name], [CategoryID], [Images], [Price], [Discount], [Contents], [QuantityOrder], [CreateDate], [AccountID]) VALUES (2, N'Otoro(Bụng cá ngừ)', 1, N'Otoro.jpg', CAST(100000 AS Decimal(18, 0)), NULL, N'Là phần bụng và cũng là phần có giá trị nhất bởi vị béo thơm ngon của nó. Được lấy từ lớp thịt bên dưới của cá gần với đầu cá, otoro có màu hồng nhạt bắt mắt, xen giữa là những thớ mỡ trắng đặc trưng.', 0, NULL, NULL)
INSERT [dbo].[tblProduct] ([ID], [Name], [CategoryID], [Images], [Price], [Discount], [Contents], [QuantityOrder], [CreateDate], [AccountID]) VALUES (3, N'sushi trứng cá hồi', 2, N'sushi-trung-ca-hoi.jpg', CAST(50000 AS Decimal(18, 0)), NULL, N'Loài cá hồi (tự nhiên) vốn là một loại cá quý, ngon và được ưa chuộng trên khắp thế giới. Cũng như thịt cá hồi, trứng của loài cá này cũng chứa hàm lượng dinh dưỡng rất cao. Việc tách trứng khỏi cá hồi, chế biến và bảo quản vô cùng khắt khe.', 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tblProduct] OFF
SET IDENTITY_INSERT [dbo].[tblRoom] ON 

INSERT [dbo].[tblRoom] ([ID], [Name], [Images], [About], [Type], [AccountID], [CreateDate]) VALUES (1, N'1', N'lautren1.jpg', NULL, 3, 1, CAST(0x0000A7E000000000 AS DateTime))
INSERT [dbo].[tblRoom] ([ID], [Name], [Images], [About], [Type], [AccountID], [CreateDate]) VALUES (2, N'Lầu trên 2', N'nhatren2.jpg', NULL, 3, 1, CAST(0x0000A7E000000000 AS DateTime))
INSERT [dbo].[tblRoom] ([ID], [Name], [Images], [About], [Type], [AccountID], [CreateDate]) VALUES (3, N'Sân vườn', N'MatTien.jpg', NULL, 2, 1, CAST(0x0000A7E000000000 AS DateTime))
SET IDENTITY_INSERT [dbo].[tblRoom] OFF
SET IDENTITY_INSERT [dbo].[tblRoomType] ON 

INSERT [dbo].[tblRoomType] ([ID], [Name], [AccountID], [CreateDate]) VALUES (1, N'Nhà bếp', NULL, NULL)
INSERT [dbo].[tblRoomType] ([ID], [Name], [AccountID], [CreateDate]) VALUES (2, N'Sân vườn', NULL, NULL)
INSERT [dbo].[tblRoomType] ([ID], [Name], [AccountID], [CreateDate]) VALUES (3, N'Lầu trên', NULL, NULL)
SET IDENTITY_INSERT [dbo].[tblRoomType] OFF
ALTER TABLE [dbo].[tblAccount] ADD  CONSTRAINT [DF_TaiKhoan_LoaiTaiKhoan]  DEFAULT ((2)) FOR [TypeID]
GO
ALTER TABLE [dbo].[tblProduct] ADD  CONSTRAINT [DF_tblProduct_Views]  DEFAULT ((0)) FOR [QuantityOrder]
GO
ALTER TABLE [dbo].[tblAbout]  WITH CHECK ADD  CONSTRAINT [FK_tblAbout_tblAccount] FOREIGN KEY([AccountID])
REFERENCES [dbo].[tblAccount] ([ID])
GO
ALTER TABLE [dbo].[tblAbout] CHECK CONSTRAINT [FK_tblAbout_tblAccount]
GO
ALTER TABLE [dbo].[tblAccount]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_LoaiTaiKhoan] FOREIGN KEY([TypeID])
REFERENCES [dbo].[tblAccountType] ([ID])
GO
ALTER TABLE [dbo].[tblAccount] CHECK CONSTRAINT [FK_TaiKhoan_LoaiTaiKhoan]
GO
ALTER TABLE [dbo].[tblCategory]  WITH CHECK ADD  CONSTRAINT [FK_tblCategory_tblAccount] FOREIGN KEY([AccountID])
REFERENCES [dbo].[tblAccount] ([ID])
GO
ALTER TABLE [dbo].[tblCategory] CHECK CONSTRAINT [FK_tblCategory_tblAccount]
GO
ALTER TABLE [dbo].[tblOrder]  WITH CHECK ADD  CONSTRAINT [FK_tblOrder_tblAccount] FOREIGN KEY([AccountID])
REFERENCES [dbo].[tblAccount] ([ID])
GO
ALTER TABLE [dbo].[tblOrder] CHECK CONSTRAINT [FK_tblOrder_tblAccount]
GO
ALTER TABLE [dbo].[tblOrderDeails]  WITH CHECK ADD  CONSTRAINT [FK_tblOrderDeails_tblOrder] FOREIGN KEY([OrderID])
REFERENCES [dbo].[tblOrder] ([ID])
GO
ALTER TABLE [dbo].[tblOrderDeails] CHECK CONSTRAINT [FK_tblOrderDeails_tblOrder]
GO
ALTER TABLE [dbo].[tblOrderDeails]  WITH CHECK ADD  CONSTRAINT [FK_tblOrderDeails_tblProduct] FOREIGN KEY([ProductID])
REFERENCES [dbo].[tblProduct] ([ID])
GO
ALTER TABLE [dbo].[tblOrderDeails] CHECK CONSTRAINT [FK_tblOrderDeails_tblProduct]
GO
ALTER TABLE [dbo].[tblProduct]  WITH CHECK ADD  CONSTRAINT [FK_MonAn_LoaiMon] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[tblCategory] ([ID])
GO
ALTER TABLE [dbo].[tblProduct] CHECK CONSTRAINT [FK_MonAn_LoaiMon]
GO
ALTER TABLE [dbo].[tblProduct]  WITH CHECK ADD  CONSTRAINT [FK_tblProduct_tblAccount] FOREIGN KEY([AccountID])
REFERENCES [dbo].[tblAccount] ([ID])
GO
ALTER TABLE [dbo].[tblProduct] CHECK CONSTRAINT [FK_tblProduct_tblAccount]
GO
ALTER TABLE [dbo].[tblRoom]  WITH CHECK ADD  CONSTRAINT [FK_KhongGianNhaHang_LoaiKhongGianNhaHang] FOREIGN KEY([Type])
REFERENCES [dbo].[tblRoomType] ([ID])
GO
ALTER TABLE [dbo].[tblRoom] CHECK CONSTRAINT [FK_KhongGianNhaHang_LoaiKhongGianNhaHang]
GO
ALTER TABLE [dbo].[tblRoom]  WITH CHECK ADD  CONSTRAINT [FK_KhongGianNhaHang_TaiKhoan] FOREIGN KEY([AccountID])
REFERENCES [dbo].[tblAccount] ([ID])
GO
ALTER TABLE [dbo].[tblRoom] CHECK CONSTRAINT [FK_KhongGianNhaHang_TaiKhoan]
GO
USE [master]
GO
